<!DOCTYPE HTML>
<html lang="en-US">
<head>
	<meta charset="UTF-8">
	<title>YamBam Tower Defense</title>
</head>

<style>
[v-cloak] {
	display: none;
}

body {
	background-color: rgb(63, 63, 63);
}
</style>

<body>
	<div id="game" v-cloak>

		<el-dialog
		:title="command"
		:visible.sync="changeKeysVisible"
		width="30%">
			<span>Press any key to change key binding</span>
			<span slot="footer" class="dialog-footer">
				<el-button type="danger" @click="changeKeysVisible = false">Cancel</el-button>
			</span>
		</el-dialog>

		<div v-show="show == 'main-menu'" id="main-menu" class="screen">
			<ul class="menu-center">
				<li><el-button type="danger" class="menu-btn" @click="startGame">New Game</el-button></li>
				<li><el-button type="danger" class="menu-btn" @click="show = 'high-scores'">High Scores</el-button></li>
				<li><el-button type="danger" class="menu-btn" @click="show = 'help'">Help</el-button></li>
				<li><el-button type="danger" class="menu-btn" @click="show = 'about'">About</el-button></li>
			</ul>
		</div>

		<div v-show="show == 'game-play'" id="game-play" class="screen">
			<!-- Normal Game Menu -->
			<div v-show="!showOptions" id="tower-display">
				<div id="tower-menu">
					<ul>
						<li><el-button type="danger" class="menu-btn" @click="placeTower = 'ground1'">Basic</el-button></li>
						<li><el-button type="danger" class="menu-btn" @click="placeTower = 'ground2'">Bomb</el-button></li>
						<li><el-button type="danger" class="menu-btn" @click="placeTower = 'air1'">Basic</el-button></li>
						<li><el-button type="danger" class="menu-btn" @click="placeTower = 'air2'">Guided Missile</el-button></li>
					</ul>
				</div>
	
				<div id="tower-details">
					<span style="font-size: 16px; padding-left: 15px;">Score: {{score}}</span>
					<span style="font-size: 16px; padding-left: 15px;">Money: ${{money}}</span>
				</div>
				<el-button class="btn--options" @click="showOptions = true">Options</el-button>
			</div>

			<!-- Options Menu -->
			<div v-show="showOptions" id="options-display">
				<div id="game-options">
					<h5 style="margin: 10px 10px;">Game Options</h5>
					<ul class="menu">
						<li><el-checkbox style="width: 175px; color: #fff;" v-model="showGrid" label="Show Placement Grid" border></el-checkbox></li>
						<li><el-checkbox style="width: 175px; color: #fff;" v-model="showTowerCoverage" label="Show Tower Coverage" border></el-checkbox></li>
						<li><el-checkbox style="width: 175px; color: #fff;" v-model="mute" label="Mute Sound Effects" border></el-checkbox></li>
						<!-- <el-checkbox v-model="showEnemyPath" label="Show Enemy Path" border></el-checkbox> -->
					</ul>
				</div>
				<div id="user-controls">
					<h5 style="margin: 10px 10px;">User Controls</h5>
					<ul class="menu">
						<li><el-button style="width: 175px;" type="info" @click="selectUpgradeTower">Upgrade Tower ({{upgradeTowerKey}})</el-button></li>
						<li><el-button style="width: 175px;" type="info" @click="selectSellTower">Sell Tower ({{sellTowerKey}})</el-button></li>
						<li><el-button style="width: 175px;" type="info" @click="selectStartLevel">Start Level ({{startLevelKey}})</el-button></li>
					</ul>
				</div>
				<el-button class="btn--options" @click="showOptions = false">Back</el-button>
			</div>
			<canvas :class="{grid: showGrid}" id="fw-canvas" width="1000" height="1000"></canvas>
		</div>

		<div v-show="show == 'high-scores'" id="high-scores" class="screen">
			<h1>High Scores</h1>
			<ol>
				<li>10000</li>
				<li>9000</li>
				<li>8000</li>
				<li>7000</li>
			</ol>
			<ul class="menu">
				<li><el-button type="danger" class="menu-btn" @click="show = 'main-menu'">Back</el-button></li>
			</ul>
		</div>

		<div v-show="show == 'help'" id="help" class="screen">
			<h1>Help</h1>
			<p>This is some help on how to play the game</p>
			<ul class="menu">
				<li><el-button type="danger" class="menu-btn" @click="show = 'main-menu'">Back</el-button></li>
			</ul>
		</div>

		<div v-show="show == 'about'" id="about" class="screen">
			<h1>About</h1>
			<p>Developed by</p>
			<p>Yancy Knight</p>
			<p>Instructor</p>
			<p>Dr. James Dean Mathias</p>
			<ul class="menu-center">
				<li><el-button type="danger" class="menu-btn" @click="show = 'main-menu'">Back</el-button></li>
			</ul>
		</div>
	</div>

	<script src="/bundle.js"></script>
</body>
</html>
