<!DOCTYPE HTML>
<html lang="en-US">
<head>
	<meta charset="UTF-8">
	<title>Yam Bam Tower Defense</title>
	<link href="https://fonts.googleapis.com/css?family=Gugi" rel="stylesheet">
</head>

<style>
[v-cloak] {
	display: none;
}

body {
	background-color: rgb(63, 63, 63);
}
</style>

<body>
	<div id="game" v-cloak>

		<el-dialog
		:title="command"
		:visible.sync="changeKeysVisible"
		width="30%">
			<span>Press any key to change key binding</span>
			<span slot="footer" class="dialog-footer">
				<el-button type="danger" @click="changeKeysVisible = false">Cancel</el-button>
			</span>
		</el-dialog>

		<div v-show="show == 'main-menu'" id="main-menu" class="screen">
			<ul class="menu-center">
				<h1>Yam Bam Tower Defense</h1>
				<li><el-button type="danger" class="menu-btn" @click="startGame">New Game</el-button></li>
				<li><el-button type="danger" class="menu-btn" @click="show = 'high-scores'; getHighScores();">High Scores</el-button></li>
				<li><el-button type="danger" class="menu-btn" @click="show = 'about'">About</el-button></li>
			</ul>
		</div>

		<div v-show="show == 'game-play'" id="game-play" class="screen">
			<!-- Normal Game Menu -->
			<div v-show="!showOptions" id="tower-display">
				<div id="tower-menu">
					<h5>Ground</h5>
					<div class="button-group">
						<el-button type="success" @click="selectTower('GROUND1')">
							<img v-show="placeTower != 'GROUND1'" src="tower1.png" ></img>
							<span v-show="placeTower == 'GROUND1'">Cancel</span>
						</el-button>
						<el-button type="success" @click="selectTower('GROUND2')">
							<img v-show="placeTower != 'GROUND2'" src="tower2.png"></img>
							<span v-show="placeTower == 'GROUND2'">Cancel</span>
						</el-button>
					</div>
					<h5>Air</h5>
					<div class="button-group" style="padding-bottom: 10px;">
						<el-button type="danger" @click="selectTower('AIR1')">
							<img v-show="placeTower != 'AIR1'" src="tower3.png"></img>
							<span v-show="placeTower == 'AIR1'">Cancel</span>
						</el-button>
						<el-button type="danger" @click="selectTower('AIR2')">
							<img v-show="placeTower != 'AIR2'" src="tower4.png"></img>
							<span v-show="placeTower == 'AIR2'">Cancel</span>
						</el-button>
					</div>
				</div>
	
				<div id="tower-details">
					<span style="font-size: 16px; padding-left: 15px;">Money: ${{money}}</span>
					<span style="font-size: 16px; padding-left: 15px;">Lives: {{lives}}</span>
					<div class="selected-tower" v-show="selectedTower">
						<p>Level: {{selectedTower ? selectedTower.stats.level : ''}}</p>
						<p>Damage: {{selectedTower ? selectedTower.stats.damage : ''}}</p>
						<p>Rate of Fire: {{selectedTower ? selectedTower.stats.rateOfFire : ''}}</p>
						<p>Range: {{selectedTower ? selectedTower.stats.range : ''}}</p>
						<el-button type="success" @click="selectedTower.upgrade()">Upgrade</el-button>
					</div>
				</div>
				<el-button type="success" class="btn--start-level" @click="nextLevel" v-show="!playLevel">Start Level</el-button>
				<el-button class="btn--options" @click="showOptions = true">Options</el-button>
			</div>

			<!-- Options Menu -->
			<div v-show="showOptions" id="options-display">
				<div id="game-options">
					<h5 style="margin: 10px 10px;">Game Options</h5>
					<ul class="menu">
						<li><el-checkbox style="width: 195px; color: #fff;" v-model="showGrid" label="Show Placement Grid" border></el-checkbox></li>
						<li><el-checkbox style="width: 195px; color: #fff;" v-model="showTowerCoverage" label="Show Tower Coverage" border></el-checkbox></li>
						<li><el-checkbox style="width: 195px; color: #fff;" v-model="mute" label="Mute Sound Effects" border></el-checkbox></li>
						<!-- <el-checkbox v-model="showEnemyPath" label="Show Enemy Path" border></el-checkbox> -->
					</ul>
				</div>
				<div id="user-controls">
					<h5 style="margin: 10px 10px;">User Controls</h5>
					<ul class="menu">
						<li><el-button style="width: 175px;" type="info" @click="selectUpgradeTower">Upgrade Tower ({{upgradeTowerKey}})</el-button></li>
						<li><el-button style="width: 175px;" type="info" @click="selectSellTower">Sell Tower ({{sellTowerKey}})</el-button></li>
						<li><el-button style="width: 175px;" type="info" @click="selectStartLevel">Start Level ({{startLevelKey}})</el-button></li>
					</ul>
				</div>
				<el-button class="btn--options" @click="showOptions = false">Back</el-button>
			</div>
			<canvas ref="gameCanvas" :class="{grid: showGrid}" id="fw-canvas" width="1000" height="1000"></canvas>
		</div>

		<div v-show="show == 'high-scores'" id="high-scores" class="screen">
			<h1>High Scores</h1>
			<ol>
				<li v-for="highscore in highScores">{{highscore.name}} {{highscore.score}}</li>
			</ol>
			<ul class="menu-center">
				<li><el-button type="danger" class="menu-btn" @click="show = 'main-menu'">Back</el-button></li>
			</ul>
		</div>

		<div v-show="show == 'about'" id="about" class="screen">
			<h1>About</h1>
			<p>Developed by:</p>
			<p>Yancy Knight</p>
			<p>Cameron Frandsen</p>
			<p>Instructor:</p>
			<p>Dr. James Dean Mathias</p>
			<ul class="menu-center">
				<li><el-button type="danger" class="menu-btn" @click="show = 'main-menu'">Back</el-button></li>
			</ul>
		</div>
		<el-dialog 
		title="New high score!"
		:visible.sync="highScoreInputVisible"
		:close-on-click-modal="false"
		:close-on-press-escape="false"
		:show-close="false">
			<h3>Enter your name, adventurer.</h3>
			<el-input class="pb" v-model="name"></el-input>
			<el-button :disabled="name.length < 1" type="success" @click="submitHighScore">Submit</el-button>
		</el-dialog>
	
	<!-- ALL VUE STUFF NEEDS TO BE ABOVE THIS POINT -->
	</div>


	<script src="/bundle.js"></script>
</body>
</html>
