body {
	margin: 0;
	background-color: rgb(63, 63, 63);
	color: #fff;
}

#fw-canvas {
	position: absolute;
	top: 10px;
	left: 400px;
	width: 800px;
	height: 600px;
	background: url("./../images/field.jpg");
}

#fw-canvas.grid {
	background: url("./../images/field-grid.jpg");
}

#game {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 95%;
	font-size: 40px;
}

#game .screen {
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 10;
}

#main-menu {
	padding-top: 1em;
	/* cursor: pointer; */
	font-size: 0.75em;
}

ul.menu-center {
	text-align: center;
	padding: 0;
	margin: 0;
	list-style: none;
}

ul.menu-center li {
	margin: 0.8em 0;
}

ul.menu {
	padding: 0;
	margin: 0 90px;
	list-style: none;
}

ul.menu li {
	margin: 0.3em 0;
}

.menu-btn {
	width: 10em;
	box-shadow: 0.2em 0.2em 0.3em rgb(0, 0, 0);
}

.menu-btn:hover {
	background: #2E2EFE;
}

.menu-btn:active {
	color: #CECEF6;
	background: rgb(0, 0, 0);
}

#game div h1 {
	font-size: 1em;
	text-align: center;
}

#high-scores ol {
	text-align: center;
	padding: 0;
	margin: 0;
	list-style: none;
}

#game div p {
	font-size: 0.5em;
}

#game-options, #options-display {
	width: 360px;
}

#options-display {
	position: absolute;
	left: 10px;
	top: 10px;
	border: 1px solid #fff;
	border-radius: 8px;
}

#about p {
	text-align: center;
}

#tower-menu {
	border: 1px solid #fff;
	border-radius: 8px;
	position: absolute;
	top: 10px;
	left: 10px;
	width: 360px;
}

#tower-menu ul {
	padding: 0;
}

#tower-menu ul li{
	display: block;
	width: 360px;
	margin: 0px auto;
}

#tower-menu ul li button{
	display: block;
	width: 300px;
	margin: 0px auto;
	margin-bottom: 10px;
}

#tower-details {
	border: 1px solid #fff;
	border-radius: 8px;
	position: absolute;
	top: 260px;
	left: 10px;
	width: 360px;
	height: 300px;
}

.btn--options {
	display: block;
	position: absolute;
	left: 260px;
	top: 580px;
}
